.wrapper {
  padding: 24px;
  background-color: white;
  border-radius: 12px;
}

.title {
  letter-spacing: -1.2px;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.views {
  margin: 0px;
  padding-top: 12px;
  font-size: 14px;
  color: var(--color-grey-text);
}

.actions {
  padding: 16px 0;
}

.description {
  padding-top: 12px;
  line-height: 1.4;
  p {
    margin: 0;
  }
  button {
    margin-top: 8px;
  }
}

.tags {
  padding-top: 16px;
  font-size: 14px;
  color: var(--color-grey-text);
}

.categories {
  padding-top: 16px;
  &__title {
    letter-spacing: -0.4px;
    font-weight: 600;
    font-size: 15px;
    margin: 0;
  }

  &__list {
    padding-top: 8px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
}
