.Button {
  background-color: inherit;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}

.Popup {
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: canvas;
  transition: transform 150ms, opacity 150ms;

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.9);
  }

  &[data-instant] {
    transition-duration: 0ms;
  }

  outline: 1px solid var(--color-light-grey);
}

.Arrow {
  display: flex;

  &[data-side="top"] {
    bottom: -8px;
    rotate: 180deg;
  }
  &[data-side="bottom"] {
    top: -8px;
    rotate: 0deg;
  }
  &[data-side="left"] {
    right: -13px;
    rotate: 90deg;
  }
  &[data-side="right"] {
    left: -13px;
    rotate: -90deg;
  }
}

.ArrowFill {
  fill: canvas;
}

.ArrowOuterStroke {
  fill: var(--color-light-grey);
}
