.modal {
  background-color: transparent;
  height: 100dvh;
  padding: 0;
  max-width: 500px;
  width: 100%;
  margin: 0;
}

.swiper {
  height: 100%;
}

.pagination {
  display: none;
}

.slide {
  background-color: white;
  overflow: hidden;
  border-radius: 24px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -60px;
}

.actions button {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: none;
}

.actions button:first-child {
  transform: rotate(180deg);
}
