.input {
  padding: 8px 12px;
  margin: 0;
  border: 1px solid var(--color-quaternary);
  min-height: 36px;
  border-radius: 8px;
  background-color: transparent;
  resize: none;

  &:focus {
    outline: 2px solid var(--color-blue);
    outline-offset: -1px;
  }
}
