.media {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 40dvh;
  max-height: 60dvh;
  min-height: 480px;
  overflow-x: clip;
  background: #000;
}

.content {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(6, minmax(0px, 1fr));
  gap: 24px;
  grid-template-areas:
    "info info info info comments comments"
    "collection collection collection collection comments comments";
}

.info {
  grid-area: info;
}

.collection {
  grid-area: collection;
}

.comments {
  grid-area: comments;
}
